@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ESTILOS GENERALES */
/* Tamaños de fuente */
.fsize-1 {
  font-size: 1rem; }

.fsize-2 {
  font-size: 2rem; }

.fsize-3 {
  font-size: 3rem; }

.fsize-4 {
  font-size: 4rem; }

.aside-vet-links, .aside .aside-container .aside__icons .aside__link, .grid-servicios .main-servicios .vet__container .vet__img-icono .vet__link {
  display: inline-block;
  background-color: #a3bcf9;
  height: fit-content;
  border-radius: 50%;
  transition: all 0.5s ease-in-out; }

.aside-vet-links:hover, .aside .aside-container .aside__icons .aside__link:hover, .grid-servicios .main-servicios .vet__container .vet__img-icono .vet__link:hover {
  background: linear-gradient(360deg, #71a1dc 0%, #ad67de 100%);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.1); }

/* Tamaños iconos links */
.icon-5rem {
  width: 5rem;
  height: 5rem; }

.icon-6rem {
  width: 6rem;
  height: 6rem; }

body {
  background-color: #fafcff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #3a3a3a; }

.bold {
  font-weight: bold; }

p {
  margin-bottom: 0; }

.pages {
  margin-top: 40px; }

.title {
  font-size: 2rem;
  font-weight: 500;
  color: #2b59c3;
  padding: 0 0 5px 0;
  margin: 0 0 25px 0;
  border-bottom: 3px solid #2b59c3; }

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: #4585dd;
  padding: 0;
  margin: 0 0 5px 0; }

.subtitle-white {
  color: #fff; }

.paragraph {
  line-height: 1.5rem;
  margin-bottom: 15px;
  color: #3a3a3a; }

/* ================ */
/* ================= NAVEGADOR =================== */
.nav-home {
  background-color: #212d40;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  padding: 1rem 0 0.8rem 0;
  grid-area: navegador; }
  .nav-home .navbar-home {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    color: #fff;
    padding-bottom: 0;
    margin-bottom: 0;
    text-decoration: none; }
  .nav-home .nav-item {
    border-radius: 8px;
    transition: all 0.15s ease-in-out; }
    .nav-home .nav-item:hover {
      background-color: #29374e; }
    .nav-home .nav-item .nav-link-white {
      display: block;
      padding: 0.5rem 1rem;
      text-decoration: none;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      color: #fff;
      font-weight: bold; }
      .nav-home .nav-item .nav-link-white:hover {
        color: #fff; }
  .nav-home .item-hover:hover {
    padding-left: 30px;
    transition: all 0.5s ease-in-out; }

/* ============= FOOTER ============= */
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 23rem;
  margin: 3rem 0 0 0;
  padding: 45px 20px 20px;
  background-color: #d8dff0;
  font-size: 0.9rem;
  grid-area: footer; }
  .footer p {
    margin-bottom: 0.5rem; }
  .footer .social__links {
    display: flex;
    column-gap: 15px;
    padding: 0;
    margin-top: 7px;
    list-style-type: none;
    /* Bg hover redes sociales */ }
    .footer .social__links .icon-facebook:hover {
      background-color: #3b5998; }
    .footer .social__links .icon-twitter:hover {
      background-color: #00acee; }
    .footer .social__links .icon-instagram:hover {
      background-color: #c13584; }
    .footer .social__links li {
      width: 2.2rem;
      height: 2.2rem;
      padding: 5px;
      border-radius: 50%;
      display: flex;
      flex-direction: auto;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      background-color: #3a3a3a;
      cursor: pointer;
      transition: all 0.3s ease-in-out; }
      .footer .social__links li:hover {
        transform: scale(1.1); }
      .footer .social__links li .footer__icon {
        font-size: 1.2rem;
        color: #d8dff0;
        text-decoration: none;
        transition: all 0.3s ease-in-out; }
        .footer .social__links li .footer__icon:hover {
          color: #d8dff0; }
        .footer .social__links li .footer__icon:visited {
          color: #d8dff0; }

/* =========== INDEX ============ */
/* Grid */
.grid-home {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "navegador navegador navegador navegador navegador navegador navegador" "hero hero hero hero hero hero hero" "main main main main main main main" "aside aside aside aside aside aside aside" "tech tech tech tech tech tech tech" "reviews reviews reviews reviews reviews reviews reviews" "footer footer footer footer footer footer footer";
  column-gap: 20px; }
  .grid-home .hero {
    height: 77vh;
    background-image: url(../public/img/dog-mobile.jpg), linear-gradient(152deg, #79cadb 0%, #e898e3 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    grid-area: hero; }
    .grid-home .hero div {
      width: 90%;
      height: auto;
      margin: 0 auto;
      color: #fff;
      opacity: 0;
      text-align: center;
      animation: opacity 2s 0.5s 1;
      animation-fill-mode: forwards; }
      .grid-home .hero div .hero__slogan {
        font-size: 2rem;
        font-weight: 600; }
      .grid-home .hero div .hero__text {
        display: none; }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Main */
.main-home {
  grid-area: main; }

/* Aside */
.aside {
  grid-area: aside; }
  .aside .aside-container .aside__title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    color: #212d40;
    padding-bottom: 0;
    margin-bottom: 0; }
  .aside .aside-container .aside__icons {
    display: flex;
    justify-content: space-evenly; }
    .aside .aside-container .aside__icons .aside__link {
      margin: 0 0 8px 0;
      padding: 8px; }
    .aside .aside-container .aside__icons p {
      margin-bottom: 20px; }

/* Tech */
.tech {
  grid-area: tech;
  margin: 40px 0 0;
  padding: 20px 10px;
  background-color: #3448c5;
  color: #fff; }
  .tech__container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto; }
    .tech__container .tech__info {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center; }
      .tech__container .tech__info .tech__img {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
        max-width: 500px;
        margin: 20px 0; }
      .tech__container .tech__info .tech__text {
        width: 100%; }
        .tech__container .tech__info .tech__text .tech__list {
          padding-left: 30px;
          line-height: 1.8rem; }

/* Reviews */
.reviews-section {
  grid-area: reviews;
  height: 25vh;
  background-color: transparent; }
  .reviews-section .position-item {
    height: 70%;
    position: absolute;
    bottom: 15%;
    top: 15%;
    padding: 0; }
    .reviews-section .position-item .caption-font {
      font-size: 0.9rem; }
    .reviews-section .position-item .position-caption {
      height: 70%;
      position: absolute;
      bottom: 15%;
      top: 15%;
      padding: 0; }

/* ============= NOSOTROS ============== */
.grid-nosotros {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "navegador navegador navegador navegador navegador navegador navegador" "main main main main main main main" "footer footer footer footer footer footer footer";
  column-gap: 20px; }
  .grid-nosotros .main-nosotros {
    grid-area: main;
    padding: 0 25px; }
    .grid-nosotros .main-nosotros .nosotros__info {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center; }
      .grid-nosotros .main-nosotros .nosotros__info .nosotros__img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
        max-width: 600px;
        margin: 20px 0;
        order: -1; }

/* ================== SERVICIOS ================ */
.grid-servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  /* === Subgrid main === */
  /* === Posición footer === */ }
  .grid-servicios .nav-home {
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .grid-servicios .main-servicios {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 0 15px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    /* = Paquetes = */
    /* Estilos Cards Paquetes */
    /* = Fin paquetes = */ }
    .grid-servicios .main-servicios .title {
      grid-column: 1 / -1;
      grid-row: 1 / 2; }
    .grid-servicios .main-servicios .estetico {
      grid-column: 1 / -1;
      grid-row: 2 / 3; }
    .grid-servicios .main-servicios .paquete-1 {
      grid-column: 1 / -1;
      grid-row: 3 / 4; }
    .grid-servicios .main-servicios .paquete-2 {
      grid-column: 1 / -1;
      grid-row: 4 / 5; }
    .grid-servicios .main-servicios .paquete-3 {
      grid-column: 1 / -1;
      grid-row: 5 / 6; }
    .grid-servicios .main-servicios .paquete {
      width: 100%;
      max-width: 330px;
      min-width: 200px;
      margin: 0 auto;
      padding: 10px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 32px -18px rgba(0, 0, 0, 0.6);
      font-size: 0.9rem;
      margin-bottom: 15px; }
      .grid-servicios .main-servicios .paquete__img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        object-fit: cover; }
      .grid-servicios .main-servicios .paquete_nombre {
        font-size: 1.2rem;
        font-weight: bold;
        color: #1fa0c0;
        padding: 5px 0;
        margin: 10px 0;
        text-align: center;
        border-bottom: 2px solid #1fa0c0; }
      .grid-servicios .main-servicios .paquete__texto {
        margin: 0 0 3px 0;
        padding: 0 0 0 15px; }
      .grid-servicios .main-servicios .paquete__incluye {
        margin: 0 0 15px 0;
        padding: 0 0 0 20px; }
      .grid-servicios .main-servicios .paquete__precios {
        padding-left: 35px; }
    .grid-servicios .main-servicios .vet {
      grid-column: 1 / -1;
      grid-row: 6 / 7;
      margin-top: 30px;
      /* FLex vet__container */ }
      .grid-servicios .main-servicios .vet__container {
        display: flex;
        flex-direction: column; }
        .grid-servicios .main-servicios .vet__container .vet__texto {
          width: 100%; }
          .grid-servicios .main-servicios .vet__container .vet__texto .vet__lista {
            margin-left: 5px;
            line-height: 1.7rem; }
        .grid-servicios .main-servicios .vet__container .vet__img-icono {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center; }
          .grid-servicios .main-servicios .vet__container .vet__img-icono .vet__img {
            width: 100%;
            height: 220px;
            border-radius: 10px;
            object-fit: cover;
            margin-bottom: 30px;
            order: -1; }
          .grid-servicios .main-servicios .vet__container .vet__img-icono .vet__link-title {
            font-size: 1.2rem;
            font-weight: bold;
            color: #212d40;
            padding: 8px 0;
            margin: 0 0 10px;
            text-align: center;
            border-bottom: 2px solid #212d40; }
          .grid-servicios .main-servicios .vet__container .vet__img-icono .vet__link {
            margin: 10px auto 5px auto;
            padding: 10px; }
  .grid-servicios .footer-servicios {
    grid-column: 1 / -1;
    grid-row: 3 / 4; }

/* ============ NUESTRO EQUIPO ============ */
/* Grid Equipo */
.grid-equipo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, auto);
  /* Posición Nav */
  /* Posición Main */
  /* posición footer */ }
  .grid-equipo .nav-home {
    grid-column: 1/-1;
    grid-row: 1/2; }
  .grid-equipo .main-equipo {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 0 15px;
    max-width: 1100px;
    /* Flex para las 2 secciones */ }
    .grid-equipo .main-equipo .nuestro-equipo {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      column-gap: 15px;
      row-gap: 20px;
      margin: 15px 0 40px; }
      .grid-equipo .main-equipo .nuestro-equipo .equipo {
        width: 95%;
        max-width: 330px;
        min-width: 280px;
        margin: 0;
        padding: 0;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        font-size: 0.9rem;
        line-height: 1.3rem;
        text-align: center;
        flex-grow: 1; }
        .grid-equipo .main-equipo .nuestro-equipo .equipo__img {
          width: 100%;
          height: 220px;
          object-fit: cover;
          border-radius: 10px 10px 0 0; }
        .grid-equipo .main-equipo .nuestro-equipo .equipo__nombre {
          font-size: 1.2rem;
          font-weight: bold;
          color: #1fa0c0;
          padding: 0;
          margin: 10px 0 0 0; }
        .grid-equipo .main-equipo .nuestro-equipo .equipo__texto {
          margin: 0;
          padding: 0 15px 20px 15px; }
  .grid-equipo .footer-equipo {
    grid-column: 1 / 8;
    grid-row: 4 / 5; }

/* =============== CONTACTO ============= */
.contacto {
  max-width: 700px; }
  .contacto p {
    margin-bottom: 0; }
  .contacto iframe {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

/* Form */
.mensaje {
  max-width: 700px;
  margin-top: 50px; }
  .mensaje .form {
    margin: 20px auto;
    padding: 20px;
    max-width: 750px;
    background-color: #e3ecff;
    font-family: "Montserrat", sans-serif; }
    .mensaje .form input,
    .mensaje .form textarea {
      margin: 0 auto;
      padding: 8px 5px;
      font-size: 1rem;
      font-weight: normal;
      color: #3a3a3a;
      display: block;
      width: 100%;
      font-family: inherit;
      outline: none;
      border: 2px solid #d7e4ff;
      border-radius: 8px; }
    .mensaje .form textarea::placeholder,
    .mensaje .form input::placeholder {
      font-family: "Montserrat", sans-serif;
      color: #999898; }
    .mensaje .form input:focus,
    .mensaje .form textarea:focus {
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
      border: 2px solid #7499f5; }
    .mensaje .form textarea {
      height: 200px;
      resize: none;
      padding: 10px 5px; }
    .mensaje .form__label {
      display: block;
      font-family: inherit;
      font-size: 1rem;
      font-weight: bold;
      color: #264fb8;
      padding: 0;
      margin: 20px 0 5px 5px; }
      .mensaje .form__label:first-of-type {
        margin-top: 0; }
    .mensaje .form #btn-enviar {
      font-size: 1.1rem;
      font-weight: bold;
      color: #264fb8;
      margin: 20px auto;
      padding: 5px;
      width: 30%;
      height: auto;
      display: block;
      background-color: transparent;
      border: 3px solid #264fb8;
      cursor: pointer;
      transition: all 0.5s ease-in-out; }
      .mensaje .form #btn-enviar:hover {
        color: #fff;
        background-color: #264fb8;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
        cursor: pointer; }

/* =============== PRODUCTOS =============== */
.section-productos {
  width: auto;
  margin: 0 auto;
  max-width: 950px;
  margin-bottom: 40px; }
  .section-productos .buscar {
    background-color: #e3ecff;
    border-radius: 8px;
    margin-bottom: 30px;
    max-width: 900px; }
  .section-productos .subtitle-productos {
    text-align: center;
    background-color: #3448c5;
    margin: 0 0 15px 0;
    padding: 5px; }
  .section-productos .productos-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    column-gap: 15px;
    row-gap: 25px;
    /* Divs */ }
    .section-productos .productos-container .producto {
      width: 95%;
      max-width: 270px;
      min-width: 215px;
      margin: 0;
      padding: 0;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      font-size: 1rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column; }
      .section-productos .productos-container .producto:hover {
        box-shadow: 0 0 32px -16px rgba(0, 0, 0, 0.5); }
      .section-productos .productos-container .producto__img {
        width: 100%;
        height: 190px;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px; }
      .section-productos .productos-container .producto__nombre {
        margin: 20px 15px 10px;
        padding: 0 10px;
        font-weight: 500;
        flex-grow: 1; }
      .section-productos .productos-container .producto .comprar {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 8px; }
        .section-productos .productos-container .producto .comprar .producto__precio {
          padding-bottom: 20px;
          font-size: 1.3rem;
          font-weight: 600;
          color: #01368b;
          margin-top: auto; }
        .section-productos .productos-container .producto .comprar .btn-comprar {
          width: 50%;
          height: 35px; }

/* ======= MEDIA QUERIES ======= */
@media (min-width: 345px) {
  .grid-home .hero {
    height: 83vh; } }

@media (min-width: 400px) {
  .reviews-section .position-item {
    height: 60%;
    bottom: 20%;
    top: 20%; }
    .reviews-section .position-item .position-caption {
      height: 50%;
      bottom: 25%;
      top: 25%; } }

@media (min-width: 450px) {
  .section-productos .productos-container .producto {
    flex-grow: 0; } }

@media (min-width: 550px) {
  .section-productos .productos-container {
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 576px) {
  .mensaje .form {
    border-radius: 10px;
    padding: 20px 30px; }
    .mensaje .form input,
    .mensaje .form textarea {
      width: 90%; }
    .mensaje .form__label {
      margin-left: 35px; } }

@media (min-width: 600px) {
  .grid-home .hero {
    height: 81vh;
    background-image: url(../public/img/dog.jpg), linear-gradient(152deg, #79cadb 0%, #e898e3 100%);
    background-position: left -40px top 115px;
    align-items: flex-start; }
    .grid-home .hero div {
      text-align: center;
      position: relative;
      top: 40px; }
      .grid-home .hero div .hero__slogan {
        font-weight: 600; }
      .grid-home .hero div .hero__text {
        display: block; }
  .navbar-home {
    font-size: 4.3rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem; } }

@media (min-width: 700px) {
  .grid-home .hero {
    background-position: left top 115px; }
  .grid-equipo .main-equipo .nuestro-equipo {
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 750px) {
  /* HOME */
  .nav-home {
    padding: 0; }
  .grid-home {
    grid-template-areas: "navegador navegador navegador navegador navegador navegador navegador" "hero hero hero hero hero hero hero" ". main main main main main ." ". aside aside aside aside aside ." "tech tech tech tech tech tech tech" "reviews reviews reviews reviews reviews reviews reviews" "footer footer footer footer footer footer footer"; }
    .grid-home .hero {
      height: 85vh;
      background-position: center;
      justify-content: flex-end;
      align-items: flex-start; }
      .grid-home .hero div {
        text-align: left;
        width: 50%;
        margin-right: 20px;
        top: 140px; }
        .grid-home .hero div .hero__slogan {
          font-size: 2.3rem; }
  /* ***** NOSOTROS ***** */
  .grid-nosotros .main-container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto; }
  /* EQUIPO */
  .grid-equipo .main-equipo {
    width: 90%;
    margin: 35px auto 0 auto; }
  /* SERVICIOS */
  .grid-servicios .main-servicios {
    width: 90%;
    max-width: 950px;
    margin: 0 auto; }
    .grid-servicios .main-servicios .paquete {
      width: 100%;
      max-width: 730px;
      margin: 0 auto;
      margin: 0 auto 20px auto;
      padding: 8px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .grid-servicios .main-servicios .paquete__img {
        width: 48%;
        height: 90%; }
      .grid-servicios .main-servicios .paquete__info {
        width: 50%; }
    .grid-servicios .main-servicios .vet__container {
      flex-direction: row;
      justify-content: space-between; }
      .grid-servicios .main-servicios .vet__container .vet__texto {
        width: 55%; }
      .grid-servicios .main-servicios .vet__container .vet__img-icono {
        width: 40%; }
        .grid-servicios .main-servicios .vet__container .vet__img-icono .vet__img {
          height: 350px;
          max-width: 300px;
          margin-bottom: 80px; }
  .section-productos .productos-container {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 768px) and (min-height: 1024px) {
  .grid-home .hero {
    background-position: left -300px top; }
    .grid-home .hero div {
      width: 50%;
      margin: 0;
      top: 350px; } }

@media (min-width: 1024px) {
  .section-productos .productos-container {
    grid-template-columns: repeat(4, 1fr); }
  /* ========== HOME ======== */
  .grid-home {
    grid-template-areas: "navegador navegador navegador navegador navegador navegador navegador" "hero hero hero hero hero hero hero" ". main main main main aside ." "tech tech tech tech tech tech tech" "reviews reviews reviews reviews reviews reviews reviews" "footer footer footer footer footer footer footer";
    /* Hero */ }
    .grid-home .hero {
      background-position: center; }
      .grid-home .hero div .hero__slogan {
        font-size: 2.5rem; }
      .grid-home .hero div .hero__text {
        font-size: 1.3rem; }
  /* Aside */
  .aside {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .aside .aside-container {
      padding-left: 20px;
      border-left: 2px solid #dbdbdb; }
      .aside .aside-container .aside__title {
        font-size: 2.5rem; }
      .aside .aside-container .aside__icons {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center; }
  /* Tech */
  .tech__container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto; }
    .tech__container .tech__info {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
      .tech__container .tech__info .tech__img {
        width: 50%;
        height: 350px;
        border-radius: 10px; }
      .tech__container .tech__info .tech__text {
        width: 45%; }
  /* Carrusel */
  .reviews-section .position-item .caption-font {
    font-size: 1rem; }
  /* Footer */
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 12rem;
    padding: 60px 20px 20px; }
    .footer p {
      font-size: 1rem;
      margin: 0; }
    .footer__social {
      width: 20%; }
      .footer__social .footer__icon {
        font-size: 1.4rem; }
  .footer-home {
    margin: 0; }
  /* ====== NOSOTROS ======= */
  .grid-nosotros .main-nosotros .nosotros__info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; }
    .grid-nosotros .main-nosotros .nosotros__info .nosotros__text {
      width: 55%; }
    .grid-nosotros .main-nosotros .nosotros__info .nosotros__img {
      width: 40%;
      max-width: 300px;
      height: 580px;
      margin: 0;
      order: 2; }
  /* CONTACTO */
  .contacto {
    max-width: 800px; }
  .mensaje {
    max-width: 800px; }
  /* SERVICIOS */
  .grid-servicios .main-servicios .vet__container .vet__texto {
    width: 65%; }
  .grid-servicios .main-servicios .vet__container .vet__img-icono {
    width: 30%; }
  .grid-equipo .main-equipo .nuestro-equipo {
    grid-template-columns: 1fr 1fr 1fr; } }

@media (min-width: 1300px) {
  .section-productos .productos-container {
    grid-template-columns: repeat(5, 1fr); }
  /* HOME */
  .grid-home {
    grid-template-areas: "navegador navegador navegador navegador navegador navegador navegador" "hero hero hero hero hero hero hero" ". main main main main aside ." "tech tech tech tech tech tech tech" ". reviews reviews reviews reviews reviews ." "footer footer footer footer footer footer footer"; }
    .grid-home .hero div {
      top: 230px; }
  /* NOSOTROS */
  .grid-nosotros .main-nosotros .nosotros__info .nosotros__text {
    width: 63%; }
  .grid-nosotros .main-nosotros .nosotros__info .nosotros__img {
    width: 38%;
    height: 470px;
    align-self: flex-start; }
  /* Productos perros */
  .section-productos {
    max-width: 1200px; }
  /* CONTACTO */
  .contacto {
    max-width: 1100px; }
  .mensaje {
    max-width: 1100px; }
  /* SERVICIOS */
  .grid-servicios .main-servicios {
    max-width: 1100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 20px;
    /* = Posición Paquetes = */
    /* = Fin posición paquetes = */ }
    .grid-servicios .main-servicios .title {
      grid-column: 1 / -1;
      grid-row: 1 / 2; }
    .grid-servicios .main-servicios .estetico {
      grid-column: 1 / -1;
      grid-row: 2 / 3; }
    .grid-servicios .main-servicios .paquete-1 {
      grid-column: 1 / 2;
      grid-row: 3 / 4; }
    .grid-servicios .main-servicios .paquete-2 {
      grid-column: 2 / 3;
      grid-row: 3 / 4; }
    .grid-servicios .main-servicios .paquete-3 {
      grid-column: 3 / 4;
      grid-row: 3 / 4; }
    .grid-servicios .main-servicios .paquete {
      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column; }
      .grid-servicios .main-servicios .paquete__img {
        width: 100%;
        height: 200px; }
      .grid-servicios .main-servicios .paquete__info {
        width: 100%;
        flex-grow: 1; }
    .grid-servicios .main-servicios .vet {
      grid-column: 1 / -1;
      grid-row: 4 / 5;
      margin-top: 30px; }
  /* PRODUCTOS */
  .section-productos .productos-container .producto {
    margin: 0; } }
