@import "variables";

/* =========== INDEX ============ */
/* Grid */
.grid-home {
  @include grid(repeat(7, 1fr), repeat(7, auto));
  grid-template-areas:
    "navegador navegador navegador navegador navegador navegador navegador"
    "hero hero hero hero hero hero hero"
    "main main main main main main main"
    "aside aside aside aside aside aside aside"
    "tech tech tech tech tech tech tech"
    "reviews reviews reviews reviews reviews reviews reviews"
    "footer footer footer footer footer footer footer";

  column-gap: 20px;

  .hero {
    background-image: url(../public/img/dog-mobile.jpg),
      linear-gradient(
        152deg,
        rgba(121, 202, 219, 1) 0%,
        rgba(232, 152, 227, 1) 100%
      );
    background-size: cover;
    // background-position: left -190px top 115px;
    background-position: center; //*****
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin-bottom: 30px;

    @include flex(row, nowrap, flex-start, flex-start);

    grid-area: hero;

    & div {
      @include size(100%, auto, $picture: false, $b-radius: false);
      color: #fff;
      opacity: 0;

      position: relative;
      top: 20px;

      animation: opacity 2s 0.5s 1;
      animation-fill-mode: forwards;

      .hero__slogan {
        font-weight: 600;
      }

      .hero__text {
        font-size: 1rem;
      }
    }

    @keyframes opacity {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}

/* Main */
.main-home {
  grid-area: main;
}

/* Aside */
.aside {
  grid-area: aside;

  .aside-container {
    .aside__title {
      @include titles-df("Bebas Neue", normal, $primary-color, 0, 0);
    }

    .aside__icons {
      display: flex;
      justify-content: space-evenly;

      .aside__link {
        @extend .aside-vet-links;

        @include spacing(0 0 8px 0, 8px);
      }

      & p {
        margin-bottom: 20px;
      }
    }
  }
}

/* Tech */
.tech {
  grid-area: tech;

  @include spacing(40px 0 0, 20px 10px);
  background-color: $secondary-color;
  color: #fff;

  &__container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;

    .tech__info {
      @include flex(column, nowrap, flex-start, center);

      .tech__img {
        @include size(100%, 250px, $picture: true, $b-radius: true);
        max-width: 500px;
        margin: 20px 0;
      }

      .tech__text {
        width: 100%;

        .tech__list {
          padding-left: 30px;
          line-height: 1.8rem;
        }
      }
    }
  }
}

/* Reviews */
.reviews-section {
  grid-area: reviews;
  height: 25vh;
  background-color: transparent;

  .position-item {
    height: 70%;
    position: absolute;
    bottom: 15%;
    top: 15%;
    padding: 0;

    .caption-font {
      font-size: 0.9rem;
    }

    .position-caption {
      height: 70%;
      position: absolute;
      bottom: 15%;
      top: 15%;
      padding: 0;
    }
  }
}
