/* ======= MEDIA QUERIES ======= */
@media (min-width: 345px) {
  .grid-home {
    .hero {
      height: 100vh - 17.3vh;
    }
  }
}

@media (min-width: 400px) {
  .reviews-section {
    .position-item {
      height: 60%;
      bottom: 20%;
      top: 20%;

      .position-caption {
        height: 50%;
        bottom: 25%;
        top: 25%;
      }
    }
  }
}

@media (min-width: 450px) {
  .section-productos {
    .productos-container {
      .producto {
        flex-grow: 0;
      }
    }
  }
}

@media (min-width: 550px) {
  .section-productos {
    .productos-container {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: 576px) {
  .mensaje {
    .form {
      border-radius: 10px;
      padding: 20px 30px;

      & input,
      & textarea {
        width: 90%;
      }

      &__label {
        margin-left: 35px;
      }
    }
  }
}

@media (min-width: 600px) {
  .grid-home {
    .hero {
      height: 100vh - 19vh;
      background-image: url(../public/img/dog.jpg),
        linear-gradient(
          152deg,
          rgba(121, 202, 219, 1) 0%,
          rgba(232, 152, 227, 1) 100%
        );

      background-position: left -40px top 115px;

      align-items: flex-start;

      & div {
        text-align: center;
        position: relative;
        top: 40px;

        .hero__slogan {
          font-weight: 600;
        }

        .hero__text {
          display: block;
        }
      }
    }
  }

  .navbar-home {
    font-size: 4.3rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
  }
}

@media (min-width: 700px) {
  .grid-home {
    .hero {
      background-position: left top 115px;
    }
  }

  // EQUIPO
  .grid-equipo {
    .main-equipo {
      .nuestro-equipo {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (min-width: 750px) {
  /* HOME */
  .nav-home {
    padding: 0;
  }

  .grid-home {
    grid-template-areas:
      "navegador navegador navegador navegador navegador navegador navegador"
      "hero hero hero hero hero hero hero"
      ". main main main main main ."
      ". aside aside aside aside aside ."
      "tech tech tech tech tech tech tech"
      "reviews reviews reviews reviews reviews reviews reviews"
      "footer footer footer footer footer footer footer";

    .hero {
      height: 100vh - 15vh;
      background-position: center;
      justify-content: flex-end;
      align-items: flex-start;

      & div {
        text-align: left;
        width: 50%;
        margin-right: 20px;
        top: 140px;

        .hero__slogan {
          font-size: 2.3rem;
        }
      }
    }
  }

  /* ***** NOSOTROS ***** */
  .grid-nosotros {
    .main-container {
      width: 80%;
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  /* EQUIPO */
  .grid-equipo {
    .main-equipo {
      width: 90%;
      margin: 35px auto 0 auto;
    }
  }

  /* SERVICIOS */
  .grid-servicios {
    .main-servicios {
      width: 90%;
      max-width: 950px;
      margin: 0 auto;

      .paquete {
        width: 100%;
        max-width: 730px;
        margin: 0 auto;
        @include spacing(0 auto 20px auto, 8px 15px);

        display: flex;
        align-items: center;
        justify-content: space-between;

        &__img {
          width: 48%;
          height: 90%;
        }

        &__info {
          width: 50%;
        }
      }

      .vet {
        &__container {
          flex-direction: row;
          justify-content: space-between;

          .vet__texto {
            width: 55%;
          }

          .vet__img-icono {
            width: 40%;

            .vet__img {
              height: 350px;
              max-width: 300px;
              margin-bottom: 80px;
            }
          }
        }
      }
    }
  }

  // PRODUCTOS
  .section-productos {
    .productos-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .grid-home {
    .hero {
      background-position: left -300px top;

      & div {
        width: 50%;
        margin: 0;
        top: 350px;
      }
    }
  }
}

@media (min-width: 1024px) {
  // PRODUCTOS
  .section-productos {
    .productos-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  /* ========== HOME ======== */
  .grid-home {
    grid-template-areas:
      "navegador navegador navegador navegador navegador navegador navegador"
      "hero hero hero hero hero hero hero"
      ". main main main main aside ."
      "tech tech tech tech tech tech tech"
      "reviews reviews reviews reviews reviews reviews reviews"
      "footer footer footer footer footer footer footer";

    /* Hero */
    .hero {
      background-position: center;

      & div {
        .hero__slogan {
          font-size: 2.5rem;
        }

        .hero__text {
          font-size: 1.3rem;
        }
      }
    }
  }

  /* Aside */
  .aside {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .aside-container {
      padding-left: 20px;
      border-left: 2px solid #dbdbdb;

      .aside__title {
        font-size: 2.5rem;
      }

      .aside__icons {
        @include flex(column, nowrap, space-evenly, center);
      }
    }
  }

  /* Tech */

  .tech {
    &__container {
      width: 85%;
      max-width: 1200px;
      margin: 0 auto;

      .tech__info {
        width: 100%;
        margin-top: 20px;
        @include flex(row, nowrap, space-between, center);

        .tech__img {
          width: 50%;
          height: 350px;
          border-radius: 10px;
        }

        .tech__text {
          width: 45%;
        }
      }
    }
  }

  /* Carrusel */
  .reviews-section {
    .position-item {
      .caption-font {
        font-size: 1rem;
      }
    }
  }

  /* Footer */
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: 12rem;
    padding: 60px 20px 20px;

    & p {
      font-size: 1rem;
      margin: 0;
    }

    &__social {
      width: 20%;

      .footer__icon {
        font-size: 1.4rem;
      }
    }
  }

  .footer-home {
    margin: 0;
  }

  /* ====== NOSOTROS ======= */

  .grid-nosotros {
    .main-nosotros {
      .nosotros__info {
        @include flex(row, nowrap, space-between, center);

        .nosotros__text {
          width: 55%;
        }

        .nosotros__img {
          width: 40%;
          max-width: 300px;
          height: 580px;
          margin: 0;
          order: 2;
        }
      }
    }
  }

  /* CONTACTO */
  .contacto {
    max-width: 800px;
  }
  .mensaje {
    max-width: 800px;
  }

  /* SERVICIOS */
  .grid-servicios {
    .main-servicios {
      .vet {
        &__container {
          .vet__texto {
            width: 65%;
          }

          .vet__img-icono {
            width: 30%;
          }
        }
      }
    }
  }

  // EQUIPO
  .grid-equipo {
    .main-equipo {
      .nuestro-equipo {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}

@media (min-width: 1300px) {
  // PRODUCTOS
  .section-productos {
    .productos-container {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  /* HOME */
  .grid-home {
    grid-template-areas:
      "navegador navegador navegador navegador navegador navegador navegador"
      "hero hero hero hero hero hero hero"
      ". main main main main aside ."
      "tech tech tech tech tech tech tech"
      ". reviews reviews reviews reviews reviews ."
      "footer footer footer footer footer footer footer";

    .hero {
      & div {
        top: 230px;
      }
    }
  }

  /* NOSOTROS */

  .grid-nosotros {
    .main-nosotros {
      .nosotros__info {
        .nosotros__text {
          width: 63%;
        }

        .nosotros__img {
          width: 38%;
          height: 470px;

          align-self: flex-start;
        }
      }
    }
  }

  /* Productos perros */
  .section-productos {
    max-width: 1200px;
  }

  /* CONTACTO */
  .contacto {
    max-width: 1100px;
  }
  .mensaje {
    max-width: 1100px;
  }

  /* SERVICIOS */

  .grid-servicios {
    .main-servicios {
      max-width: 1100px;

      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, auto);
      column-gap: 20px;

      .title {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
      }

      .estetico {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
      }

      /* = Posición Paquetes = */

      .paquete-1 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }

      .paquete-2 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }

      .paquete-3 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
      }
      /* = Fin posición paquetes = */

      .paquete {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;

        display: flex;
        flex-direction: column;

        &__img {
          width: 100%;
          height: 200px;
        }

        &__info {
          width: 100%;
          flex-grow: 1;
        }
      }

      .vet {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        margin-top: 30px;
      }
    }
  }

  /* PRODUCTOS */
  .section-productos {
    .productos-container {
      .producto {
        margin: 0;
      }
    }
  }
}
