/* ============= NOSOTROS ============== */
.grid-nosotros {
  @include grid(repeat(7, 1fr), repeat(3, auto));

  grid-template-areas:
    "navegador navegador navegador navegador navegador navegador navegador"
    "main main main main main main main"
    "footer footer footer footer footer footer footer";

  column-gap: 20px;

  .main-nosotros {
    grid-area: main;
    padding: 0 25px;

    .nosotros__info {
      @include flex(column, nowrap, flex-start, center);

      .nosotros__img {
        @include size(100%, 200px, $picture: true, $b-radius: true);
        max-width: 600px;
        margin: 20px 0;
        order: -1;
      }
    }
  }
}
