/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// VARIABLES
@import "variables";

/* ESTILOS GENERALES */

/* Tamaños de fuente */
@for $i from 1 through 4 {
  .fsize-#{$i} {
    font-size: 1rem * $i;
  }
}

//MIXIN para asignar tamaños
@mixin size($ancho, $alto, $picture: false, $b-radius: false) {
  width: $ancho;
  height: $alto;

  @if $b-radius {
    border-radius: 10px;
  }

  @if $picture {
    object-fit: cover;
  }
}

// MIXIN para estilos de titulos/subtitulos
@mixin titles-df($font-family, $font-weight, $color, $p-bottom, $m-bottom) {
  font-family: $font-family, sans-serif;
  font-weight: $font-weight;
  color: $color;
  padding-bottom: $p-bottom;
  margin-bottom: $m-bottom;
}

@mixin title-subtitle($font-size, $font-weight, $color, $padding, $margin) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  padding: $padding;
  margin: $margin;
}

@mixin paragraph($color) {
  line-height: 1.5rem;
  margin-bottom: 15px;
  color: $color;
}

// MIXIN fonts
@mixin font($font-size, $font-weight, $color) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

// MIXIN Spacing
@mixin spacing($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

// MIXIN Flexbox
@mixin flex($direction, $wrap, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}

// MIXIN Grid
@mixin grid($columns, $rows) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}

// MIXIN Cards
@mixin cards(
  $width,
  $max-width,
  $margin,
  $padding,
  $bg-color,
  $b-radius,
  $shadow,
  $f-size
) {
  width: $width;
  max-width: $max-width;
  margin: $margin;
  padding: $padding;
  background-color: $bg-color;
  border-radius: $b-radius;
  box-shadow: $shadow;
  font-size: $f-size;
}

// Clase links para usar con @extend
.aside-vet-links {
  display: inline-block;
  background-color: $bg-icons;
  height: fit-content;
  border-radius: 50%;
  transition: $transition;
}

.aside-vet-links:hover {
  background: linear-gradient(
    360deg,
    rgba(113, 161, 220, 1) 0%,
    rgba(173, 103, 222, 1) 100%
  );
  box-shadow: $bs-icons;
  transform: scale(1.1);
}
// =================================

// EACH iconos links
/* Tamaños iconos links */
$sizes-icons: 5rem, 6rem;

@each $size in $sizes-icons {
  .icon-#{$size} {
    width: $size;
    height: $size;
  }
}

body {
  background-color: $bg-body;
  font-family: $font-principal;
  font-size: 1rem;
  color: $text-color;
}

.bold {
  font-weight: bold;
}

p {
  margin-bottom: 0;
}

.pages {
  margin-top: 40px;
}

.title {
  @include title-subtitle(2rem, 500, $title-color, 0 0 5px 0, 0 0 25px 0);
  border-bottom: 3px solid $title-color;
}

.subtitle {
  @include title-subtitle(1.5rem, 400, $subtitle-color, 0, 0 0 5px 0);
}

.subtitle-white {
  color: #fff;
}

.paragraph {
  @include paragraph($text-color);
}

/* ================ */

// SECCIONES
// Se mantienen en todas las páginas
@import "nav";
@import "footer";

@import "index";
@import "nosotros";
@import "servicios";
@import "equipo";
@import "contacto";
